    <!-- AI 助理按鈕 -->
    <button id="chatButton"><i class="material-icons">support_agent</i></button>
    <button id="darkModeToggle" class="dark-mode-btn">
      <i class="fa fa-moon-o"></i> 黑暗模式
  </button>
  
    <!-- AI 聊天視窗 -->
    <div id="chatContainer">
        <div id="chatHeader">AI助理:詢問關於溫政瑜的任何問題 <span style="float: right; cursor: pointer;" onclick="closeChat()">✖</span></div>
        <div id="chatBody"></div>
        <div id="chatFooter">
            <input type="text" id="chatInput" placeholder="輸入您的問題...">
            <button id="sendButton">發送</button>
        </div>
    </div>