<nav class="hide-on-small-only">
    <ul class="side-nav fixed section table-of-contents">

      <li class="logo">
        <a id="logo-container" aria-label="Navigate to the beginning of the page" href="#intro"
          class="brand-logo grey-blue-text">
          <img src="/assets/img/passport-new.png" class="circle img-responsive profile-pic" alt="avatar">
        </a>
      </li>

      <li class="bold">
        <a aria-label="Navigate to the About section" href="#about" class="waves-effect waves-dark teal-text"><i
            class="mdi-social-person small"></i><span>關於</span></a>
      </li>
      <li class="bold">
        <a aria-label="Navigate to the Experience section" href="#experience"
          class="waves-effect waves-dark teal-text"><i
            class="mdi-action-trending-up small"></i><span>經歷</span></a>
      </li>

      <li class="bold">
        <!-- mdi-av-web small
             mdi-av-my-library-books small-->
        <a aria-label="Navigate to the Projects section" href="#projects" class="waves-effect waves-dark teal-text"><i
            class="mdi-av-my-library-books small"></i><span>專案</span></a>
      </li>


      
      <li class="bold">
        <!--
        ICONS:
        -->
        <a aria-label="Navigate to the Education section" href="#education" class="waves-effect waves-dark teal-text"><i
            class="mdi-social-school small"></i><span>就學</span></a>
      </li>

      <li class="bold">
        <!-- 
        1. mdi-communication-contacts
        2. mdi-content-mail
        3. mdi-communication-email
        -->
        <a aria-label="Navigate to the Contact section" href="#contact" class="waves-effect waves-dark teal-text"><i
            class="mdi-content-mail small"></i><span>聯絡我</span></a>
      </li>

      <li class="bold">
        <a aria-label="Open littlewen's resume in a new tab" href="https://drive.google.com/file/d/1aNmiNvKqYUrPbHysC0f8HOzVGuMYdA9g/view?usp=sharing" target="_blank"
        class="waves-effect waves-dark teal-text"><i class="mdi-file-folder-open small"></i><span>簡歷</span></a>  
      </li>
      <li class="bold">
        <a aria-label="Navigate to the Skills section" href="#note" class="waves-effect waves-dark teal-text"><i
            class="material-icons-outlined">comment</i><span>留言板</span></a>
      </li>
      <li class="bold">
        <a aria-label="Navigate to the Skills section" href="#life" class="waves-effect waves-dark teal-text"><i
          class="material-icons-outlined">book</i><span>日記</span></a>
      </li>
    </ul>
  </nav>

  <!-- Nav class 2 -->
  <nav class="hide-on-large only trigger z-depth-1">
    <a aria-label="Toggle visibility of the mobile navbar" href="#" data-activates="slide-out"
      class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <div class="name-title">
      <a id="name" aria-label="Navigate to the beginning of the page" href="#" class="teal-text">溫政瑜
        </a><span class="black-text">個人網頁</span>
    </div>
  </nav>

  <!-- Nav class 3 -->
  <nav class="hide-on-large only">
    <ul id="slide-out" class="side-nav">
      <li class="bold">
        <a aria-label="Navigate to the About section" href="#about" class="waves-effect waves-dark teal-text"><i
            class="mdi-social-person small"></i><span>關於</span></a>
      </li>
      <li class="bold">
        <a aria-label="Navigate to the Experience section" href="#experience"
          class="waves-effect waves-dark teal-text"><i
            class="mdi-action-trending-up small"></i><span>經歷</span></a>
      </li>
      <li class="bold">
        <a aria-label="Navigate to the Projects section" href="#projects" class="waves-effect waves-dark teal-text"><i
            class="mdi-av-my-library-books small"></i><span>專案</span></a>
      </li>


      <li class="bold">
        <a aria-label="Navigate to the Education section" href="#education" class="waves-effect waves-dark teal-text"><i
            class="mdi-social-school small"></i><span>就學</span></a>
      </li>
      <li class="bold">
        <a aria-label="Navigate to the Contact section" href="#contact" class="waves-effect waves-dark teal-text"><i
            class="mdi-content-mail small"></i><span>聯絡我</span></a>
      </li>
      <li class="bold">
        <a aria-label="Open littlewen's Resume in a new tab"
          href="https://drive.google.com/file/d/1aNmiNvKqYUrPbHysC0f8HOzVGuMYdA9g/view?usp=sharing" target="_blank"
          class="waves-effect waves-dark teal-text"><i class="mdi-file-folder-open small"></i><span>簡歷</span></a>
      </li>
      <li class="bold">
        <a aria-label="Navigate to the Skills section" href="#node" class="waves-effect waves-dark teal-text"><i
            class="material-icons-outlined">comment</i><span>留言板</span></a>
      </li>
      <li class="bold">
        <a aria-label="Navigate to the Skills section" href="#life" class="waves-effect waves-dark teal-text"><i
          class="material-icons-outlined">book</i><span>日記</span></a>
      </li>
    </ul>
  </nav>